spring:
  jackson:
    time-zone: Asia/Shanghai
    serialization:
      write-dates-as-timestamps: false
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:13888/code_reviewer?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: code_reviewer
    password: change_me_db_password

server:
  port: 8765

code-reviewer:
  gitlab:
    connect-timeout-ms: 5000
    read-timeout-ms: 15000
  review:
    rules-file: /app/config/review-rules.md
    rule-refresh-ms: 30000
